body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    image-rendering: pixelated;
}